.Edit-item{
    margin: 10px 0px;
    border: solid 1px gray;
    border-radius: 5px;
    background-attachment: fixed;
    .Edit-item_button{
        padding:12px 50px;
        font-size: 14px;
    }
    .Edit-item_container{
        padding-top: 20px;
    }
   
    p{
        font-size: 30px !important;
        padding: 2px;
    }
    input{
        width: 100% !important;
        height: 100% !important;
    }
}